.SkillCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    width: 100%;
    max-width: 125px;
    height: 80px;
}

.SkillCard_title {
    font-size: var(--fontSize-subtitles-cards);
    text-align: center;
    font-weight: 600;
}

.SkillCard_nivel_Container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--text-color-card);
    font-size: var(--fontSize-subtitles-sections);
}

.SkillCard_nivel {
    font-size: var(--fontSize-text-sections);
    color: var(--score-color);
    font-weight: 600;
}

/*-------------------------------------------*/

@media (min-width: 769px) {
    .SkillCard {
        height: 60px;
    }

    .SkillCard_title {
        font-size: var(--fontSize-subtitles-cards);
    }

    .SkillCard_nivel_Container {
        font-size: var(--fontSize-text-sections);
    }

    .SkillCard_nivel {
        font-size: var(--fontSize-text-sections);
        font-weight: 600;
    }
}
