.SkillsSection_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    gap: 10px;
    color: var(--titles-and-texts-color);
}

.SkillsSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 10px;
    border: 1px solid var(--border-color);
    background-color: var(--background-color-cards);
    box-shadow: var(--cards-shadow);
    padding: 15px;
    border-radius: 3.5rem;
    min-width: 330px;
    width: 100%;
    max-width: 410px;
    height: auto;
}

.SkillsSection_title {
    font-size: var(--fontSize-titles-sections);
    font-family: var(--font-primary);
    color: var(--titles-and-texts-color);
}

@media (min-width: 768px) {
    .SkillsSection_container {
        grid-area: skills;
        width: 300px;
        height: auto;
    }

    .SkillsSection {
        max-width: 350px;
        border-radius: 10px;
    }

    .SkillsSection_title {
        font-size: var(--fontSize-titles-sections);
    }
}

@media (min-width: 1024px) {
    .SkillsSection_container {
        max-width: 400px;
        height: auto;
        gap: 20px;
    }

    .SkillsSection {
        max-width: 400px;
        gap: 15px;
    }

    .SkillsSection_title {
        font-size: 1.1rem;
    }
}