* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  --font-primary: ;
  --fontSize-score: 2.1rem;
  --fontSize-titles-sections: 0.8rem;

  --primary-color: #0d6dfdbd;
  --secondary-color: #6d5dd367;
}