* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {

  /* Font size */
    --fontSize-titles-sections: 0.9rem;
    --fontSize-subtitles-sections: 0.6rem;
    --fontSize-subtitles-cards: 0.7rem;
    --fontSize-text-sections: 0.8rem;
    --fontSize-testimonial: 0.9rem;
  /* ---------------------------------- */

  /* Titles and Text Colors */
    --titles-and-texts-color: #ffffff;
    --text-color-card: #324A5F;
  /* ---------------------------------- */

  /* Border */
    --border-color: #ffffff;
    --border-radius-cards: 3.5rem;
  /* ---------------------------------- */
  /* Main Colors */
    --primary-color: #0d6dfd;
    --secondary-color: #FFEEDD;
    --third-color: #ea526e;
  /* ---------------------------------- */

  /* Gradient Colors */
    --primary-gradient-color: #0d6dfdbd;
    --secondary-gradient-color: #FFEEDD;
    --third-gradient-color: #ea526e9f;
  /* ---------------------------------- */

  /* Background Colors and Shadows */
    --background-color-cards: #ffffff38;
    --cards-shadow: 0 0px 11px 1px rgba(255, 255, 255, 0.596);
    --destaques-hover-card: 0 0 8px 1px rgb(0, 225, 255);

}

/* dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    
    /* Textos */
    --titles-and-texts-color: #EAEAEA;
    --text-color-card: #CFCFCF;

    /* Cores principais */
    --primary-color: #200329;   
    --secondary-color: #2B1D1D; 
    --third-color: #7a6bff;     

    /* Gradientes */
    --primary-gradient-color: #380457;
    --secondary-gradient-color: #1a1a40;
    --third-gradient-color: #4b0d12;

    /* Background geral */
    --background-color-main: #0E141B;  
    --background-color-cards: #1E1E1E;

    /* Sombras e hover */
    --cards-shadow: 0 0 12px rgba(0,0,0,0.6);
    --destaques-hover-card: 0 0 12px 2px rgba(255, 59, 69, 0.7); 
  }
}