.profileCard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    min-width: 330px;
    width: 100%;
    max-width: 400px;
    padding: 15px;
    border: 1px solid var(--border-color);
    border-radius: 5rem;
    box-shadow: var(--cards-shadow);
    background-color: var(--background-color-cards);
}

.profile_infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile_name {
    font-size: 1rem;
    color: var(--text-color-card);
}

.profile_description {
    font-size: 0.8rem;
    line-height: 1rem;
    color: var(--titles-and-texts-color);
    max-width: 225px;
}

.profile_imageContainer {
    width: 80px;
    height: 80px;
    border: 1px solid #fff;
    overflow: hidden;
    border-radius: 5rem;
}

.profile_imageContainer img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.profile_socials {
    display: none;
    width: 100%;
    height: auto;
    gap: 15px;
}

.profile_linkedin,
.profile_github {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}

.profile_linkedin img,
.profile_github img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}


@media (min-width: 768px) {
    .profileCard {
        grid-area: profile;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: unset;
        width: 250px;
        height: 300px;
        gap: 15px;
        border-radius: 10px;
        padding: 15px 0px;
    }

    .profile_infoContainer {
        width: 65%;
        gap: 5px;
    }

    .profile_imageContainer {
        width: 100px;
        height: 100px;
        border-radius: 10%;
    }

    .profile_imageContainer img {
        border-radius: 10%;
    }

    .profile_name {
        font-size: 1.1rem;
        text-align: center;
    }

    .profile_description {
        font-size: var(--fontSize-titles-sections);
        text-align: center;
    }

    .profile_socials {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .profile_linkedin img {
        width: 35px;
        height: 35px;
    }

    .profile_github img {
        width: 30px;
        height: 30px;
    }

    .profile_github img:hover,
    .profile_linkedin img:hover,
    .profile_linkedin img:focus,
    .profile_github img:focus {
        transform: scale(1.5);
    }
}

@media (min-width: 1024px) {
    .profileCard {
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
                "image info"
                "image socials";
        justify-items: start;
        align-items: center;
        max-width: 600px;
        height: 350px;
        border-radius: 50px;
        height: 220px;
        width: 500px;
        max-width: 100%;
        gap: 0 100px; 
        padding: 20px 40px;
        opacity: 0;
        transform: translateY(40px);
        transition: all 0.6s ease-out;

        border: unset;
        border-radius: unset;
        box-shadow: unset;
        background-color: unset;
    }


    .profileCard.reveal {
        opacity: 1;
        transform: translateY(0);
    }

    .profile_imageContainer {
        grid-area: image;
        width: 150px;
        height: 95%;
    }

    .profile_imageContainer img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
    }

    .profile_infoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;    
        justify-content: center;
        grid-area: info;
        gap: 8px;
        padding: 5px;
        width: 200px;
        height: auto;
    }

    .profile_name {
        font-size: 1.5rem;
    }

    .profile_socials {
        grid-area: socials;
        width: 200px;
    }
}