.profileCard {
    border: 1px solid var(--border-color);
    background-color: var(--background-color-cards);
    border-radius: 5rem;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    max-width: 350px;
    padding: 15px;
    box-shadow: var(--cards-shadow);
    font-family: var(--font-primary);
}

.profile_infoContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: calc(100% - 75px - 20px);
}

.profile_name {
    font-size: 1rem;
    color: var(--title-color-project);
}

.profile_description {
    font-size: 0.9rem;
    line-height: 1rem;
    color: var(--text-color-cards);
}

.profile_imageContainer {
    width: 80px;
    height: 80px;
    border: 1px solid #fff;
    overflow: hidden;
    border-radius: 5rem;
}

.profile_imageContainer img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}